PROXY_URL=http://localhost:8081/api/v1
PUBLIC_ASTRO_PORT=4321
PUBLIC_WEBHOOK_PORT=9000
GH_TOKEN=****************************************
PUBLIC_GH_REPO=TiborUdvari/astro-decap-template
PUBLIC_SITE_DOMAIN=astro-decap-template.pages.dev
PUBLIC_BASE_URL=https://astro-decap-template.pages.dev
PUBLIC_CLOUDINARY_CLOUD_NAME=*********
PUBLIC_CLOUDINARY_API_KEY=***************
PUBLIC_DECAP_CMS_APP_VERSION=3.6.1
PUBLIC_I18N=true
CLOUDFLARE_DEPLOY_HOOK_URL=https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/************************************
PUBLIC_STAGING=false
GITHUB_CLIENT_ID=********************
GITHUB_CLIENT_SECRET=****************************************
